<nav>
    <div class="left-icons">
      <button onclick="navigateScreen('mainScreen','mainScreenManager',true);" class="ibtn"><span class="material-symbols-sharp">arrow_back</span></button>
    </div>
    <p>عرض طلب</p>
  </nav>
  <main>
    <style>
  .tips{
    width:80%;
    margin-left:10%;
    padding-top:20px;
    overflow:auto;
  }
    </style>
    <div class="stepper-manager" id="addOrder">
      <div class="stepper">
        <div class="tips">
          <div>
            <h1>التعليمات</h1>
            <p>لكي تتمكن من استخدام ميزة إضافة طلب,<br> عليك السماح بالوصول إلى موقعك.</p>
            <p>يرجى اتباع التعليمات التالية حسب جهازك:</p>
            <h2>لمستخدمي iPhone:</h2>
            <ol>
                <li>افتح تطبيق الإعدادات.</li>
                <li>انتقل لأسفل واضغط على الخصوصية.</li>
                <li>اضغط على خدمات الموقع.</li>
                <li>تأكد من أن خدمات الموقع قيد التشغيل.</li>
                <li>انتقل لأسفل وابحث عن متصفحك (مثل سفاري).</li>
                <li>اضغط على متصفحك واختر "أثناء الاستخدام للتطبيق".</li>
            </ol>
            <h2>لمستخدمي Android:</h2>
            <ol>
                <li>افتح تطبيق الإعدادات.</li>
                <li>انتقل لأسفل واضغط على الموقع.</li>
                <li>تأكد من أن الموقع قيد التشغيل.</li>
                <li>انتقل لأسفل وابحث عن متصفحك (مثل كروم).</li>
                <li>اضغط على متصفحك واختر "السماح طوال الوقت".</li>
            </ol>
            <h2>الفقرة الأخيرة:</h2>
            <p>"بمجرد ظهور رسالة الأذونات، يرجى النقر<br> على زر 'موافق' أو 'السماح' للسماح بالوصول إلى الموقع."</p>
            <br>
            <button class="primary" onclick="allowPermessions();" style="width:100px;">موافق</button>
          </div>
        </div>
      </div>
      <div class="stepper">
        <div class="center-container">
          <form method="POST" id="imageForm" action = "/api/add-order" class="container" style="width:80%;">
            {% csrf_token %}
            <br>
            <br>
            <input type="hidden" name="pk" id="pk">
            <label for="" class="filled">
              <input type="text" value="" maxlength="50" name="order_number" id="order_number" required>
              <span data-label="رقم الطلب"></span>
            </label>
            <br>
            <div id="inputsContainer" class="container">
              <label for="" class="filled">
                <input type="text" value="" maxlength="100" name="contractor" id="contractor" required>
                <span data-label="المقاول"></span>
              </label>
              <br>
              <label for="" class="filled">
                <input type="text" value="" maxlength="100" name="distract" id="distract" required>
                <span data-label="الحي"></span>
              </label>
              <div id="materialsContainer" class="container">
                <br>
                <label for="" class="filled">
                  <input type="text" value="" maxlength="100" name="materials" id="materials">
                  <span data-label="المواد"></span>
                </label>
              </div>
              <div id="workTypeContainer" class="container">
                <br>
                <label for="" class="filled">
                  <input type="text" value="عداد" placeholder=" " data-dropdown="order_type_menu" name="order_type" readonly id="order_type" required>
                  <span data-label="نوع العمل"></span>
                </label>
              </div>
              <br>
              <br>
              <br>
            </div>
            <div class="menu" id="order_type_menu">
              <button type="button">عداد</button>
              <button type="button">تنفيذ شبكة</button>
            </div>
            <p style="font-size:20pt;">النماذج</p>
            <button class="outline" type="button" data-pick="image" data-name="objects">إختيار صورة</button>
            <input type="file" accept="image/*" id="image" hidden>
            <div class="images-box" id="objects">
            </div>
            <br>
            <br>
            <br>
            <p style="font-size:20pt;">صور الموقع</p>
            <button class="outline" type="button" data-pick="image" data-name="addresses">إختيار صورة</button>
            <div class="images-box" id="addresses">
            </div>
            <br>
            <br>
            <br>
            <p style="font-size:20pt;">مخالفات السلامة</p>
            <button class="outline" type="button" data-pick="image" data-name="violations">إختيار صورة</button>
            <div class="violation-box" id="violations">
            </div>
            <br><br>
            <hr>
            <br>
            
            <button class="primary" id="saveOrder">حفظ</button>
            <br>
            <button class="outline" id="archiveOrder">حفظ وأرشفة</button>
            <br>
            {% if request.user.is_superuser %}
            <div id="deleteOrderContainer" style="display:none;">
              <button class="outline-error" type="button" style="width:100%;" id="dataDeleteOrder2">حذف</button>
              <br>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
    <script>
    const allowPermessions = () => {
      if ("geolocation" in navigator) {
      // طلب إذن الوصول إلى الموقع
      showLoading(true);
      navigator.geolocation.getCurrentPosition(
        // دالة النجاح التي تُنفذ عند الحصول على الإحداثيات
        function(position) {
          showLoading(false);
          navigateStepper('addOrder', true);
        },
        // دالة الخطأ التي تُنفذ في حالة حدوث خطأ
        function(error) {
          showLoading(false);
          alert("Error Code = " + error.code + " - " + error.message);
        }
      );
    } else {
      alert("تحديد الموقع الجغرافي غير مدعوم من هذا المتصفح.");
    }
    }
    </script>
  </main>