<div class="drawer" id="drawer">
    <div class="drawer-items">
      <button data-title="الصفحة الرئيسية" id="mainBtn" onclick="navigateDrawer('main');" class="selected">الصفحة الرئيسية</button>
      <button data-title="المشتركين" id="subscribersBtn" onclick="navigateDrawer('subscribers');">المشتركين</button>
      <button data-title="العمليات والصيانة" id="operationsBtn" >العمليات والصيانة</button>
      <button data-title="المشاريع" id="projectsBtn" >المشاريع</button>
      <button data-title="الملفات الجاهزة" id="readyFilesBtn" >الملفات الجاهزة</button>
      <button data-title="الضبط" id="settingsBtn" >الضبط</button>
      <button style="color:red">تسجيل الخروج</button>
    </div>
  </div>
  <div class="closer" id="closer"></div>