<div>
  <nav>
    <div class="left-icons">
      <button onclick="openNavDrawer(true);" class="ibtn"><span class="material-symbols-sharp">menu</span></button>
    </div>
    <p id = "navHeader">الصفحة الرئيسية</p>
    <div class="right-icons">
      <button id="searchButton" class="ibtn"><span class="material-symbols-sharp">search</span></button>
    </div>
  </nav>
  <aside></aside>
  <main class="home-screens">
    <div id="main" class="visible-screen">
      {% include 'components/homeScreens/main.html' %}
    </div>
    <div id="orders">
      <div class="center-container">
        <button id="viewOrderBtn" class="outline" style="margin-right:20px;"><span class="material-symbols-sharp">visibility</span>عرض طلب</button>
        <button id="addOrderBtn" class="outline"><span class="material-symbols-sharp">add</span>إضافة طلب</button>
      </div>
    </div>
    <div id="users">
      {% include 'components/users/users.html' %}
    </div>
  </main>
</div>