<nav>
    <div class="left-icons">
      <button onclick="navigateScreen('addUserScreen','mainScreenManager',true);" class="ibtn"><span class="material-symbols-sharp">arrow_back</span></button>
    </div>
    <p>تعديل كلمة المرور</p>
  </nav>
    <div class="center-container">
        <form method="POST" data-form id="editPasswordForm" action = "/api/edit-password" class="container" style="width:80%;">
            {% csrf_token %}
            <br>
            <br>
            <label for="" class="filled">
                <input type="password" value="" maxlength="100" name="oldPassword" id="oldPassword" required>
                <span data-label="كلمة المرور الحالية"></span>
            </label>
            <br>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <label for="" class="filled">
                <input type="password" value="" maxlength="50" name="newPassword" id="newPassword" required>
                <span data-label="كلمة المرور الجديدة"></span>
            </label>
            <br>
            <label for="" class="filled">
                <input type="password" value="" maxlength="50" id="repeatPassword" required>
                <span data-label="أعد كتابة كلمة المرور"></span>
            </label>
            <br>
            
            <button class="primary" id="savePassword">حفظ</button>
            <br>
        </form>
    </div>
    </div>
  </main>