<div class="main-list">
    <div class="items">
      <p class="month">مايو</p>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
    </div>
    <div class="items">
      <p class="month">مايو</p>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
    </div>
    <div class="items">
      <p class="month">مايو</p>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
      <button class="item">
        <p>رقم الطلب: 1</p>
        <p>نوع الطلب: تنفيذ شبكة</p>
        <p>الجمعة 31</p>
      </button>
    </div>
  </div>