

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MZ engineering</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/properties.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name = “theme-color” content = “#cccccc”>
    <meta name = "msapplication-navbutton-color" content = "#cccccc">
    <meta name = "apple-mobile-web-app-capable" content = "#cccccc">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "#cccccc">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
  </head>
  {% include "style.html" %}
  <body>
    <!-- <div class="container">
      <label for="" class="filled">
        <input type="text" value="" required>
        <span data-label="Filled"></span>
      </label>
      <label for="" class="outlined">
        <input type="text" value="" required>
        <span data-label="Outlined"></span>
      </label>
    </div> -->
    <div class="screen-manager" id="mainScreenManager">
      <div class="screen opened-screen" id="splash">
        <div class="center-container">
          <img loading="lazy" src="{% static 'images/logo.png' %}" width = "250">
        </div>
      </div>
      <div class="screen" id="loginScreen">
        {% include "components/login.html" %}
      </div>
      <div class="screen" id="mainScreen">
        {% include "components/mainScreen.html" %}
      </div>
      <div class="screen" id="searchScreen">
        {% include "components/search.html" %}
      </div>
      <div class="screen" id="addOrder">
        {% include "components/orders/addOrder.html" %}
      </div>
      <div class="screen" id="viewOrders">
        {% include "components/orders/viewOrders.html" %}
      </div>
      <div class="screen" id="orderDetails">
        {% include "components/orders/orderDetails.html" %}
      </div>
      <div class="screen" id="addUserScreen">
        {% include "components/users/addUser.html" %}
      </div>
      <div class="screen image-editor-screen" id="imageEditor">
        {% include "components/screens/imageEditor.html" %}
      </div>
      <div class="screen" id="editPasswordScreen">
        {% include "components/homeScreens/editPassword.html" %}
      </div>
      {% include "components/drawer.html" %}
    </div>
  </body>
  <div class="loading-screen">
    <div class="loader">
      <svg viewBox="0 0 32 32" width="42" height="42">
          <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
        </svg>
    </div>
  </div>
  <div id="snackbar" class="snackbar"><p id="snackbarText"></p></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
  <script src="{% static 'script/jQuery.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  <script>screens=['{{pageName}}']</script>
  <script src="{% static 'script/script.js' %}"></script>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
  document.body.style.display = 'none';
});
window.addEventListener('load', function() {
  document.body.style.display = 'block';
});
  var isLoggedIn = {{isLoggedIn}};
  var isSuperUser = {{isSuperUser}};
    setTimeout(() => {
      if(isLoggedIn){
        if("{{pageName}}" == "loginScreen") screen = "mainScreen";
        else screen = "{{pageName}}";
      }else{
        screen = "loginScreen";
      }
      navigateScreen(screen, "mainScreenManager");
    }, 500);
    $(document).on("click", "#searchButton", () => navigateScreen("searchScreen", "mainScreenManager"));
  </script>
</html>