<style>
.submit-button{
  width:80%;
  margin:auto;
  margin-top:20px;
}
.main-list{
  position: absolute;
  width:100%;
  padding-inline:20px;
  top:0px;
  bottom:0px;
  overflow:auto;
}
.items{
  width:100%;
}
.month{
  font-size:20pt;
  font-weight:bold;
  margin-top:60px;
  margin-bottom:10px;
  top:0px;
  position:sticky;
  position:-webkit-sticky;
  background-color:#eee;
  width:100%;
}
.item{
  width:100%;
  color:#666;
  border:0px;
  font-size:12pt;
  border-bottom:1px solid #ccc;
  padding-block:10px;
  text-align: left;
  background-color: transparent;
}
.item > p:nth-child(1){
  color:black;
}
.item > p:nth-child(3){
  float:right;
  text-align:right;
  margin-top:-55px;
}
</style>